/*
Palette de couleur du site :
Gris sombre         #222831
Gris moins sombre   #393e46
Bleu                #00adb5
Gris clair          #eeeeee
rouge               #e23e57

*/

/* Fin Desktop */

/* -------------------------------------------------------------------------- */

/* tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
        background-image: url('../images/Background1.jpg') ;
        background-size: 1000px;
        background-repeat: repeat;
        overflow: hidden;
      }
    }
/* Fin Tablet */

/* -------------------------------------------------------------------------- */


/* Smartphone */
@media screen and (max-width: 576px) {

  body {
        background-image: url('../images/Background1.jpg') ;
        background-size: 1000px;
        background-repeat: repeat;
        overflow: hidden;

      }

    
    }
/* Fin Smartphone */
