/* Desktop */

@media screen and (min-width: 769px) {
#listContainer {
  width: 250px;
  height: 600px;
  border: black 5px solid;
  background-color: #D0D0DC;
  right: 100px;
  top: 150px;
  border-radius: 10px;
}

#listContainer ul {
  list-style: none;
  font-size: 40px;
}
}
/* Fin Desktop */

/* -------------------------------------------------------------------------- */

/* tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {

#listContainer {
  position: absolute;
  width: 250px;
  height: 400px;
  border: black 5px solid;
  background-color: #D0D0DC;
  left: 10px;
  top: 250px;
  border-radius: 10px;
}

#listContainer ul {
  list-style: none;
  font-size: 15px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

}
/* Fin Tablet */


/* -------------------------------------------------------------------------- */

/* Smartphone */
@media screen and (max-width: 576px) {
  #listContainer {
    display: block;
    position: relative;
    width: 70vw;
    border: rgb(55, 34, 23) 4px solid;
    background-color: #D0D0DC;
    margin: auto;
    top: -25vw;
    border-radius: 10px;
  }
  
  #listContainer ul {
    list-style: none;
    font-size: 7vw;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }
}
/* Fin Smartphone */