


/* -------------------------------------------------------------------------- */


/*---- Tablette ------*/
@media screen and (min-width: 577px) and (max-width: 768px) {
.zone-slider {
  height: 608px;
  width: 470px;
  position: absolute;
  right: 0px;
}

.profile-slider {
  background-image: url('/images/CADRE5.png');
  background-repeat: no-repeat;
  z-index: 110;
  position: absolute;
  right: 30px;
  top: 15%;
  height: 92.7vh;
  width: 470px;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.slider-contenu {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 360px;
  height: 500px;
}

#usernameMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 20%;
  background-color: rgba(241, 206, 168, 0.4);
  border-radius: 10px;
}

#acceuilLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

#logoProfil {
  width: 6em;
  margin-right: auto;
  margin-left: auto;
}

.acceuilMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#accroche {
  font-size: 1.5em;
  text-align: center;
}

.label {
  font-size: 1.5em;
  text-align: center;
}

.showLists {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#btnAjouter {
  width: 40px;
}

.newAcceuil {
  display: none;
  justify-content: space-around;
  width: 50%;
}

#formNewNameList {
  display: none;
}

#btnAddParticipant {
  width: 40px;
}

#saveListbtn {
  margin-top: 5px;
  font-size: 2.5em;
  padding: 5px;
}

#newNameListBtn {
  font-size: 1.5em;
}

.newParticipants {
  display: none;
}

#labelParticipant {
  font-size: 1.5em;
}

.slider-active {
  transition: 0.2s;
  transform: translateX(0%);
}

.slider-closing {
  transition: transform 0.2s ease-out;
  transform: translateX(430px);
}

/* bouton reset Listes enregistrées */
#clearLists{
  background-color: #FF4136;
  color: #eeeeee;
}

}

/* fin Tablette */


/* -------------------------------------------------------------------------- */

/* Smartphone */
@media screen and (max-width: 576px) {
.zone-slider {
    width: 97vw;
    height: 90vh;
    position: absolute;
    right: 0px;
    top: 45px;
    display: flex;
    justify-content: center;
  }
  .zone-slider button {
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .zone-slider li {
    list-style: none;
  }

  .profile-slider {
    background-image: url('../images/CADRE5.png');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 110;
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-contenu {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 60%;
  }

  .slider-active {
    transition: 0.2s;
    transform: translateX(0%);
  }
  
  .slider-closing {
    transition: transform 0.2s ease-out;
    transform: translateX(100%);
  }
  
  #usernameMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: rgba(241, 206, 168, 0.4);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .newAcceuil {
    justify-items: space-around;
    align-content: space-around;
    width: 80%;
    height: 70%;
  }
  
  #logoProfil {
    width: 5em;
    margin-top: -10%;
  }
  
  #accroche {
    font-size: 1.1em;
    text-align: center;
  }
  
  .label {
    font-size: 1em;
    text-align: center;
  }
  
  .showLists {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  #btnAjouter {
    width: 32px;
    height: 32px;
  }
   
  #formNewNameList {
    display: none;
  }
  
  #btnAddParticipant {
    width: 40px;
  }
  
  #saveListbtn {
    margin-top: 5px;
    font-size: 1.1em;
    padding: 5px;
  }
  
  .newParticipants {
    display: none;
  }
  
  #labelParticipant {
    font-size: 0.8em;
  }
  
  #btnAcceuil {
    background-color: #F1CEA8;
    z-index: 110;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
  }
  
  #btnAcceuil:hover {
    background-color: rgb(245, 189, 130);
    transition: 0.3s;
  }
  

  /* bouton reset Listes enregistrées */
  #clearLists{
    background-color: #FF4136;
    color: #eeeeee;
  }
}
/* Fin Smartphone */
