/*
Palette de couleur du site :
Gris sombre         #222831
Gris moins sombre   #393e46
Bleu                #00adb5
Gris clair          #eeeeee
rouge               #e23e57

*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
    overflow-x: hidden;
}

nav {
    background-color: #393e46;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    width: 250px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li button {
    background-color: #00adb5;
    z-index: 100;
    width: 70px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Bouton de profil temporairement apparent, le temps de faire des réglages */
.profile-button {
    display: block;
}

#logo {
    font-size: 36px;
    margin-left: 20px;
}

/*------ Sliders ----------*/

.log-slider {
    background-color: #00adb5;
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 60px;
    height: 92.7vh;
    width: 33vw;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}
 .sign-slider {
    background-color: #e23e57;
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 60px;
    height: 92.7vh;
    width: 33vw;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}
 .profile-slider {
    background-color: #393e46;
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 60px;
    height: 92.7vh;
    width: 33vw;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}

.slider-active {
    transform: translateX(0%);
}

.slider-closing {
    transition: transform 0.4s ease-out;
    transform: translateX(100%);
}

.dark-bg {
    display: none;
    z-index: 9;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
}

.dark-bg-active {
    display: block;
}

/*------ Main site --------*/

/* main*/

main {
    display: flex;
}

#listContainer {
    width: 30%;
    border: black 5px solid;
}
#listContainer ul {
    list-style: none;
    font-size: 40px;
}
#controlsButtons {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spin */

#spin-div {
    width: 350px;
    height: 400px;
    scroll-behavior: smooth;
    margin-left: 100px;
    margin-top: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    
section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}

.Loop {
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.red {
    background: #FF4136;
}
.green {
    background: #2ECC40;
}
.blue {
    background: #0074D9;
}
.orange {
    background: rebeccapurple;
}
.yellow {
      background: yellow;
}
.rose {
      background: pink;
}
.grey {
      background: grey;
}
.inputWheel, .inputWheelClone {
    border: black 1px;
    background-color: #66FF66;
    text-transform: uppercase;
    font-size: 20px;
    animation: bordure 2s infinite;
    text-transform: uppercase;
}

@keyframes bordure {
    0% { background-color: #66FF66;}
    50% {background-color: white}
    100% {background-color: #66FF66;}
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg); }
  }


#spin-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #393e46;
    width: 350px;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.controlSize {
    width: 40px;
    height: 100px;
}

#turn-button, #reset-button {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#turn-button {
    background-color: #00adb5;
    color: white;
    font-size: 1.5em;
}

#reset-button {
    background-color: #e23e57;
    color: white;
    font-size: 1.5em;
}
/* pour le formulaire */

#divForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
}
#divForm input, textarea, select {
    border: #333 solid 1px;
    font-size: 20px; 
    margin-bottom: 15px;
    width: 80%;
}
#divSend {
    width: 80%;
    text-align: right;
}
#divSend button {
    background-color: grey;
    color: black;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    font-size: 10px;
    box-shadow: #222831;
}

